@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Mono'), local('FiraMono'), url('/fira-mono.ttf') format('truetype');
}

#root {
  font-family: 'Fira Mono', monospace;
}
#root .point {
  color: red;
}
#root input {
    font-family: inherit;
}
#root div .node {
    cursor: pointer;
}
